/* ---------------------- default style start ---------------------- */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* root variable */
:root {
  /* colors */
  --primaryColor: #000d83;
  --secondaryColor: #0bb4ff;
  --primaryTextColor: #040931;
  --secondaryTextColor: #01030f;
  --heroBg: #e7efff;
  --footerBg: #f1f6ff;
  /* font size */
  --headingFs: 4rem;
  --subHeadingFs: 1.8rem;
  --textFs: 1.6rem;
}
*,
*::after,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
}
/* ---------------------- default style end ---------------------- */
