/* ---------------------- default style start ---------------------- */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* root variable */
:root {
  /* colors */
  --primaryColor: #000d83;
  --secondaryColor: #0bb4ff;
  --primaryTextColor: #040931;
  --secondaryTextColor: #01030f;
  --heroBg: #e7efff;
  --footerBg: #f1f6ff;
  /* font size */
  --headingFs: 4rem;
  --subHeadingFs: 1.8rem;
  --textFs: 1.6rem;
}
*,
*::after,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  overflow-x: hidden;
}
img {
  width: 100%;
  height: auto;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.section-mt {
  margin-top: 10.8rem;
}
.heading-label {
  font-size: var(--subHeadingFs);
  font-weight: 600;
  color: var(--primaryTextColor);
}
/* ---------------------- default style end ---------------------- */
/* ---------------------- header section start ---------------------- */
header {
  background: var(--heroBg);
  font-size: var(--textFs);
  color: var(--primaryColor);
  font-weight: 600;
  position: static;
  top: 0;
  z-index: 100;
}
.header-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.5rem;
}
.navItems ul {
  display: flex;
  gap: 3.6rem;
}
.navItems ul li a {
  color: var(--primaryColor);
  transition: all 0.2s ease;
}
.navItems ul li a:hover,
.navButtons a:hover {
  color: var(--secondaryColor);
}
.navButtons {
  display: flex;
  align-items: center;
  gap: 2.6rem;
}
.navButtons a {
  color: var(--primaryColor);
}
.navButtons a:last-child {
  padding: 1rem 3.3rem;
  border: 1px solid var(--primaryColor);
  border-radius: 1rem;
  transition: all 0.2s ease;
}
.navButtons a:last-child:hover {
  background: var(--primaryColor);
  color: #fff;
}
/* ---------------------- header section end ---------------------- */
/* ---------------------- banner section start ---------------------- */
.banner {
  background: var(--heroBg);
}
.banner-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 7.5rem);
}
.sub-heading {
  font-size: var(--subHeadingFs);
  font-weight: 600;
  letter-spacing: 0.05rem;
  color: var(--secondaryColor);
}
.heading {
  font-size: var(--headingFs);
  font-weight: 700;
  letter-spacing: 0.05rem;
  color: var(--primaryColor);
}
.text {
  font-size: var(--textFs);
  font-weight: 400;
  color: var(--secondaryTextColor);
}
.banner-content > p.sub-heading {
  margin-bottom: 1.7rem;
}
.banner-content > h1.heading {
  margin-bottom: 2.4rem;
  width: 68%;
}
.banner-content > p.text {
  margin-bottom: 4rem;
  width: 60%;
}
.btn {
  padding: 1.7rem 3.8rem;
  background: var(--primaryColor);
  color: #fff;
  font-size: var(--textFs);
  font-weight: 600;
  border-radius: 1.5rem;
  transition: background 0.2s ease;
}
.btn:hover {
  background: var(--secondaryColor);
}
.banner-buttons {
  display: flex;
  gap: 2.4rem;
}
.banner-buttons .btn:last-child {
  background: transparent;
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
}
.banner-image {
  width: 70%;
}
.banner-students {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 5.2rem;
}
.students-area {
  display: flex;
  position: relative;
  margin-left: 1.8rem;
}
.students-area img,
.students-area span {
  width: 4.8rem;
  height: 4.8rem;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-left: -1.8rem;
}
.students-area span {
  background: var(--primaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--textFs);
  font-weight: 600;
  color: #fff;
}
.banner-students > p {
  font-size: var(--textFs);
  color: var(--primaryTextColor);
  font-weight: 600;
}
/* ---------------------- banner section end ---------------------- */
/* ---------------------- about section start ---------------------- */
.about-area {
  display: flex;
  align-items: center;
  gap: 10rem;
}
.about-image,
.about-content {
  width: 50%;
}
.about-image img {
  width: 90%;
}
.about-questions {
  margin-top: 5.2rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 10px 24px 50px 0px rgba(0, 0, 0, 0.04);
  background: #fff;
  border-radius: 16px;
  padding: 2.4rem;
  width: 80%;
}
.question > div {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.question > div img {
  width: 3.2rem;
  height: 3.2rem;
}
.question > img {
  width: 2.4rem;
  height: 2.4rem;
}
/* ---------------------- about section end ---------------------- */
