/* ---------------------- default style start ---------------------- */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* root variable */
:root {
  /* colors */
  --primaryColor: #000d83;
  --secondaryColor: #0bb4ff;
  --primaryTextColor: #040931;
  --secondaryTextColor: #01030f;
  --heroBg: #e7efff;
  --footerBg: #f1f6ff;
  /* font size */
  --headingFs: 4rem;
  --subHeadingFs: 1.8rem;
  --textFs: 1.6rem;
}
*,
*::after,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  overflow-x: hidden;
}
img {
  width: 100%;
  height: auto;
}
/* ---------------------- default style end ---------------------- */
/* ---------------------- header section start ---------------------- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.5rem;
  background: var(--heroBg);
  font-size: var(--textFs);
  color: var(--primaryColor);
  font-weight: 600;
  position: static;
  top: 0;
  z-index: 100;
}
header > * {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.navItems ul {
  display: flex;
  gap: 3.6rem;
}
.navItems ul li a {
  color: var(--primaryColor);
  transition: all 0.2s ease;
}
.navItems ul li a:hover,
.navButtons a:hover {
  color: var(--secondaryColor);
}
.navButtons {
  display: flex;
  align-items: center;
  gap: 2.6rem;
}
.navButtons a {
  color: var(--primaryColor);
}
.navButtons a:last-child {
  padding: 1rem 3.3rem;
  border: 1px solid var(--primaryColor);
  border-radius: 1rem;
  transition: all 0.2s ease;
}
.navButtons a:last-child:hover {
  background: var(--primaryColor);
  color: #fff;
}
/* ---------------------- header section end ---------------------- */
